.account{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}
.acoountContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account,
.acoountContainer,
.header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header h1{
  text-align: center;
}

.acoountContainer>h2>span,
.acoountContainer>h3>span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  color:red;
}