.nav a:global(.active){
  background-color: rgba(255, 0, 0, 0.315);
  padding: 2px 7px;
  border-radius: 2px;
  color: #fff;
}

.nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.nav>a{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(134, 128, 128);
}

.photoPost{
  width: 100%;
}

.photoPost form{
  display: flex;
  flex-direction: column;
}

.photoPost button,
.photoPost input{
  cursor: pointer;
}

.photoPost button{
  margin-top: 10px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.preview{
  height: 200px;
  background-repeat: no-repeat;
  background-image: url(blob:http://localhost:3000/ac9327a5-7806-4adb-adff-ee4ee5f81ded);
  background-size: contain;
}