.inputCenter{
  display: flex;
  flex-direction: column;
}

.inputCenter>label{
  text-transform: uppercase;
}

.input{
  height: 24px;
  border-radius: 4px;
  width: 150px;
  border: 1px solid;
  margin: 5px 0;
}

.erro{
  color:red;
}

form>div{
  margin-bottom: 20px;
}