.PhotoContent{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.img{
  width: 100%;
  max-width: 98%;
  margin: 0 auto;
}

.img>img{
  width: 100%;
  max-width: 100%;
  min-width: 250px;
  position: relative;
}

.center{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.center>p{
  display: flex;
  align-items: center;
  gap: 20px;
}

.center>p>span{
  display: flex;
  align-items: center;
}

.attributes{
  display: flex;
  align-items: center;
  gap: 20px;
}

.attributes>li{
  cursor: pointer;
}

.title{
  color: black;
}

@media(max-width:320px){
  .img{
    max-width: 100%;
  }
  .img>img{
    min-width: 310px;
  }
  .center{
    flex-wrap: wrap;
  }
  .attributes{
    justify-content: space-around;
    width: 100%;
  }
}