.PhotoContent {
  width: 50%;
  height: 80%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.img {
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  margin: 0 auto;
}

.img>img {
  object-fit: contain;
  height: 400px;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  min-width: 250px;
  margin: 0 auto;
  position: relative;
}

.center {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  border-bottom: 0.5px solid #eee;
  padding: 10px 0;
}

.center>p {
  display: flex;
  align-items: center;
  gap: 20px;
}

.center>p>span {
  display: flex;
  align-items: center;
}

.attributes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.attributes>li {
  cursor: pointer;
}

.title {
  color: black;
}

@media(max-width:768px) {
  .PhotoContent {
    width: 100%;
  }
}

@media(max-width:320px) {
  .img {
    max-width: 100%;
  }

  .img>img {
    min-width: 241px;
  }

  .center {
    flex-wrap: wrap;
  }

  .attributes {
    justify-content: space-around;
    width: 100%;
  }
}