
*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  --font-first:Helvetica, Arial, sans-serif;
  --font-secont: 'Spectral', Georgia;
  font-family: var(--font-first);
}

h1,h2,h3,h4,p{
  margin: 0;
  padding: 0;
}

ul,li,a{
  list-style: none;
  text-decoration: none;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
}

.animeLeft{
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
    opacity: 1;
    transform: initial;
  }
}

.loginCreate{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.title{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0 ;
}

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  grid-gap: 30px;
  height: 100%;
  padding-top: 20px;
}

.homeImagem{
  background: url('./Assets/login.jpg') no-repeat center center;
  background-size: cover;
}

.homeCenter{
  height: 100vh;
}

.form{
  border-bottom: 2px solid rgba(128, 128, 128, 0.301);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.sair{
  order: 3;
  border:none;
  color:red;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width:768px){
  .home{
    grid-template-columns: 1fr;
  }

  .homeImagem{
    display: none;
  }

  .homeData{
    padding: 20px 10px;
  }
}